body{
	background-color:rgb(240,240,240);
	color: rgb(20,20,20);
	font-size: 26px;
	font-family: 'Poppins', sans-serif;
}

menu {
	display: inline-block;
	margin: 0;
	padding: 0;
}

menuitem {
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
}

menuitem:hover {
	color: #FCB040;
}

.blogContainer {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 55vw;
	grid-template-rows: 10vh 10vh 125vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"center centerRight"
	"bottom bottom";
	justify-content: center;
}

.blogBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

/* Header CSS */
#bloghd {
	grid-area: top;
	font-size: 20px;
}
/* Menu CSS */
#blogmenu {
	grid-area: menu;
	vertical-align: top;
	border-top: 1px solid #FCB040;
	border-bottom: 1px solid #FCB040;
}

.backButton {
	text-decoration: none;
	font-size: 12px;
	color: rgb(100,100,100);
}

/* Main CSS */
#blogmain { 
	grid-area: center; 
}

#blogmain h2 {
	font-size: 22px;
	margin: 0;
	padding: 0;
}

#blogmain .writtenBy {
	font-size: 12px;
}

#blogmain .authorImg {
	border-radius: 50%;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
}

#blogmain .author .authorName {
	font-size: 16px;
	font-weight: 500;
	vertical-align: middle;
	display: inline-block;
	padding: 0 10px;
}

#blogmain .author .authorTitle {
	font-size: 15px;
	font-weight: 400;
	vertical-align: middle;
	display: inline;
	padding: 0 10px;
}

#blogmain .authorBio {
	font-size: 12px;
}

#blogmain .social {
	display: inline-block;
	float: right;
}

#blogmain .social ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
}

#blogmain .social ul li{
	display: inline-block;
	font-size: 18px;
	color: rgb(240,240,240);
}

#blogmain .social ul li a {
	color: rgb(240,240,240);
	background-color: #FCB040;
	display: inline-block;
	border-radius: 50%;
	padding: 4px 10px;
	
}

#blogmain .social ul li a:hover {
	color: rgb(240,240,240);
	background-color: #78157E;
	border-radius: 50%;
}

.fa-facebook {
	padding: 5px 4px;
}

#blogmain p {
	font-size: 14px;
	text-align: justify;
}

.blogImg {
	width: 600px;
	display: block;
	margin: 22px auto;
}

/* Footer CSS */
#blogft { 
	grid-area: bottom; 
	border-top: 1px solid #FCB040;
}

#footerAddress {
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
}

#footerAddress a, #footerAddress a:hover, #footerAddress a:focus {
	color: #FCB040;
	text-decoration: none;
}


/* ========== MOBILE DESIGN ========== */

@media (max-width: 600px) {
body {
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}

.blogContainer {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 95vw;
	grid-template-rows: 10vh 10vh 150vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"center centerRight"
	"bottom bottom";
	justify-content: center;
}
  
menuitem {
	padding: 0 7px;
	font-size: 12px;
}

.blogBox {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
}

.blogBox h1 {
	font-size: 26px;
	text-align: justify;
}

#blogmain {
	margin: 10px;
}

#blogmain h2 {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

#blogmain .authorImg {
	border-radius: 50%;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

#blogmain .author .authorName {
	font-size: 14px;
	font-weight: 500;
	vertical-align: middle;
	display: inline-block;
	padding: 0 6px;
}

#blogmain .author .authorTitle {
	font-size: 13px;
	font-weight: 400;
	vertical-align: middle;
	display: inline;
	padding: 0 6px;
}

#blogmain .authorBio {
	font-size: 12px;
}

#blogmain .social {
	display: inline-block;
	float: right;
}

#blogmain .social ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#blogmain .social ul li{
	display: inline-block;
	font-size: 14px;
	color: rgb(240,240,240);
}

#blogmain .social ul li a {
	color: rgb(240,240,240);
	background-color: #FCB040;
	display: inline-block;
	border-radius: 50%;
	padding: 4px 8px;
}

#blogmain .social ul li a:hover {
	color: rgb(240,240,240);
	background-color: #78157E;
	border-radius: 50%;
}

.fa-facebook {
	padding: 4px 3px;
}

.blogImg {
	width: 450px;
	display: block;
	margin: 22px auto;
}

#blogmain p {
	white-space: post;
}

#hd {
	font-size: 16px;
}

#footerAddress {
	font-size: 13px;
	font-style: normal;
	text-decoration: none;
}

}



/* ========== TABLET DESIGN ========== */

@media (min-width: 600px) and (max-width:1025px) {


.blogContainer {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 55vw;
	grid-template-rows: 10vh 10vh 130vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"center center"
	"bottom bottom";
	justify-content: center;
}

}








