body{
	background-color:rgb(240,240,240);
	color: rgb(20,20,20);
	font-size: 26px;
	font-family: 'Poppins', sans-serif;
}

menu {
	display: inline-block;
	margin: 0;
	padding: 0;
}

menuitem {
	padding: 0 20px;
	font-size: 16px;
	cursor: pointer;
}

menuitem:hover {
	color: #FCB040;
}

.container {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 55vw 15vw;
	grid-template-rows: 10vh 10vh 70vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"centerLeft centerRight"
	"bottom bottom";
	justify-content: center;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
/* Header CSS */
#hd {
	grid-area: top;
	font-size: 20px;
}
/* Menu CSS */
#menu {
	grid-area: menu;
	vertical-align: top;
	border-top: 1px solid #FCB040;
	border-bottom: 1px solid #FCB040;
}
/* Main CSS */
#main { grid-area: centerLeft; }

#main h2 {
	font-size: 22px;
	margin: 0;
	padding: 0;
}

.mainContainer {
	display: flex;
	flex-direction: row;
}

.mainBox {
	margin: 5px;
	border: 1px solid grey;
	height: 390px;
	width: 400px;
}

.mainBox h4 {
	font-size: 17px;
	font-weight: 500;
	padding-left: 10px;
	margin: 3px;
}

.mainBox p {
	font-size: 13px;
	margin: 10px;
	text-align: justify;
}

.mainBox .readMore {
	color: #FCB040;
	text-decoration: none;
	border-width: 0;
}

.mainBox .readMore:hover, .mainBox .readMore:focus,  .mainBox .readMore:active {
	color: #78157E;
	text-decoration: none;
	border-width: 0;
	cursor: pointer;
	outline: none;
}

.imgFlex {
	width: 400px;
}

/* Sidebar CSS */
#sd { 
	grid-area: centerRight; 
}

.sideContainer {
	display: grid;
	margin: auto;
	grid-template-columns: 20vw;
	grid-template-rows: 4vh 20vh 4vh 15vh;
	grid-gap: 5px;
	grid-template-areas: 
	"fTitle"
	"fContent"
	"sTitle"
	"sContent";
}

.sideBox {
	padding: 5px;
	vertical-align: top;
}

#firstTitle { grid-area: fTitle; }

#firstContent {	
	grid-area: fContent; 
	text-align: justify;
}

#secondTitle { grid-area: sTitle; }

#secondContent { grid-area: sContent; }

#sd h3 {
	font-size: 18px;
	color: #78157E;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

#sd p {
	padding: 0;
	margin: 0;
	font-size: 13px;
}

#sd ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
}

#sd .connectIcons {
	font-size: 20px;
}

#sd ul li a {
	font-size: 14px;
	color: black;
	vertical-align: middle;
	margin: 0 7px;
	padding: 0;
	text-decoration: none;
}

#sd ul li a:hover {
	color: #FCB040;
}
/* Footer CSS */
#ft { grid-area: bottom; }

#footerAddress {
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
}

#footerAddress a, #footerAddress a:hover, #footerAddress a:focus {
	color: #FCB040;
	text-decoration: none;
}


/* ========== MOBILE DESIGN ========== */

@media (max-width: 600px) {
body {
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
}

.container {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 55vw;
	grid-template-rows: 10vh 10vh 120vh 35vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"centerLeft centerLeft"
	"centerRight centerRight"
	"bottom bottom";
	justify-content: center;
}

.sideContainer {
	display: grid;
	margin: auto;
	grid-template-columns: 75vw;
	grid-template-rows: 4vh 14vh 4vh 10vh;
	grid-gap: 5px;
	justify-content: center;
	grid-template-areas: 
	"fTitle"
	"fContent"
	"sTitle"
	"sContent";
}
  
menuitem {
	padding: 0 7px;
	font-size: 12px;
}

.box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
}

#hd {
	font-size: 16px;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#footerAddress {
	font-size: 13px;
	font-style: normal;
	text-decoration: none;
}

#sd h2 {
	font-size: 14px;
	text-transform: uppercase;
}
}



/* ========== TABLET DESIGN ========== */

@media (min-width: 600px) and (max-width:1025px) {


.container {
	display: grid;
	width: 90vw;
	margin: auto;
	grid-template-columns: 55vw;
	grid-template-rows: 10vh 10vh 65vh 30vh 10vh;
	grid-gap: 10px;
	grid-template-areas: 
	"top top"
	"menu menu"
	"centerLeft centerLeft"
	"centerRight centerRight"
	"bottom bottom";
	justify-content: center;
}

.sideContainer {
	display: grid;
	margin: auto;
	grid-template-columns: 60vw;
	grid-template-rows: 4vh 10vh 4vh 6vh;
	grid-gap: 5px;
	justify-content: center;
	grid-template-areas: 
	"fTitle"
	"fContent"
	"sTitle"
	"sContent";
}

}








